@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #FFDE59;
  --color-secondary: #FFDE59;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-yellow-700;
}

a:hover {
  @apply border-b-2 border-yellow-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
